/*polices*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

/* ----usefull classes---- */
.black {
    color: #0D0D0D;
}

.brown {
    color: #A67841;
}

.green {
    color: #3A8C75;
}

.white {
    color: #F2F2F2;
}

.bgGreen {
    background-color: #3A8C75;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.centerItems {
    align-items: center;
}

.centerText {
    text-align: center;
}

.between {
    justify-content: space-between;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.outfit {
    font-family: 'Outfit', sans-serif;
}

/* ---------rules on all page -------*/
* {
    background-color: #f5f5f5;
}

.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}

/*------start header--------*/
header {
    position: fixed;
    height: 5em;
    width: 100%;
    margin: 0;
    top: 0%;
    right: 0%;
    box-shadow: 0 0.1px 3px 0 rgba(13, 13, 13, 0.38);
    z-index: 1;
}

nav {
    width: 50%;
}

.menu {
    width: 91%;
}

.menu a {
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

.menu li a:hover,
.menu li a:active {
    color: #3A8C75;
    border-color: #3A8C75;
}

header a .logo {
    width: 50%;
}

/*-----end hearder*------*/

/*------- main--------*/
main {
    margin: auto;
    margin-top: 3em;

}

/*----- section home ------*/
#Home img {
    object-fit: cover;
    width: 36%;
    border-bottom: #3A8C75 2px solid;

}

#Home {
    width: 88%;
    margin: auto;
    overflow: hidden;
}

.home {
    width: 100%;
}

.homeText {
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
}

.homeText H1 {
    font-size: 7em;
    font-weight: 300;
    position: relative;
    left: 1em
}

.homeText span {
    padding: 0 0.1em;
}

.homeText H2 {
    font-size: 4.4em;
    font-weight: 300;
    position: relative;
    left: 3.5em;
}

.homeText p {
    width: 41.5%;
    text-align: end;
    font-size: 2em;
    position: relative;
    left: 4em;
}

.divH3 {
    text-align: end;
    width: 55%;
    position: absolute;
    right: 11em;
    margin: -4.6em 0 2em 0;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
}

#Home h3 {
    font-weight: 500;
    color: #f5f5f5;
    font-size: 4em;
    padding-right: 1.7em;
}

/*------ end Home ----------*/

/*--------my job-------*/
#MyJob {
    width: 90%;
    margin: auto;

}


#MyJob H2 {
    font-size: 2.5em;
    margin: 2em 0 2em 0;
    position: relative;
}

#MyJob H2::after {
    content: "";
    width: 1.5em;
    height: 3.5px;
    background-color: #3A8C75;
    position: absolute;
    display: block;
    left: 3px;
    top: 1.8em;
}


.jobText {
    margin-left: 1.5em;
    margin: auto;
}

.jobText p {
    font-size: 1.4em;
    margin: 0 0 3em 0;
}

.jobText a {
    color: #F2F2F2;
    font-size: 1.2em;
    margin: 0 1.2em 0 0;
}

.jobText i {
    margin: 0 0 0 0.5em;
}


#MyJob h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 1.2em 0;
}


.skills {
    flex-direction: column;
    width: 33%;
    margin: 0 0 4em 0;
}

.textBar {
    flex-direction: column;
}

.textBar span {
    padding: 15px 20px 15px 0;
}

.bar-container {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.bar {
    width: 80%;
    height: 20px;
    border-radius: 50px;
    background-color: #a679413a;
}

.bar .progress {
    height: 100%;
    background-color: #3A8C75;
    border-radius: 20px;
}

.front:nth-child(1) .progress {
    width: 0%;
    animation: html 2s forwards;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.front:nth-child(2) .progress {
    width: 0%;
    animation: css 2s forwards;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.front:nth-child(3) .progress {
    width: 75%;
    animation: 2s scss;
}

@keyframes scss {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.front:nth-child(4) .progress {
    width: 65%;
    animation: 2s js;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.front:nth-child(5) .progress {
    width: 40%;
    animation: 2s react;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}


.back:nth-child(1) .progress {
    width: 45%;
    animation: 2s node;
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

.back:nth-child(2) .progress {
    width: 45%;
    animation: 2s express;
}

@keyframes express {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

.back:nth-child(n+3) .progress {
    width: 35%;
    animation: 2s db;
}

@keyframes db {
    0% {
        width: 0%;
    }

    100% {
        width: 35%;
    }
}

.cms:nth-child(1) .progress {
    width: 60%;
    animation: 2s wordpress;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}


.contact {
    width: 100%;
    margin: 3em 0 0;
}

.contact a {
    background-color: #3A8C75;
    border-radius: 20px;
    padding: 0.5em 1em;
}

/*----------end my job---------*/

/*---------Portfolio-----------*/
#Portfolio {
    width: 90%;
    margin: auto;

}

#Portfolio H2 {
    font-size: 2.5em;
    margin: 2em 0 1.5em 0;
    position: relative;

}

#Portfolio H2::after {

    content: "";
    width: 1.5em;
    height: 3.5px;
    background-color: #3A8C75;
    position: absolute;
    display: block;
    left: 3px;
    top: 1.8em;

}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10em;
    grid-row-gap: 6em;
}

article img {
    width: 100%;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 20px;
}

article h4 {
    text-align: center;
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 400;
}


/*--------- end portfolio -------*/

/*---------- footer -----------*/
footer {
    height: 250px;
    margin-top: 5em;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    flex-direction: column;
}

footer i {
    font-size: 3.2em;
    margin-bottom: 0.5em;
}

.line {
    height: 40%;
    width: 3px;
}

.footerLinks {
    width: 25%;
    flex-direction: column;
    align-items: center;
}