/*polices*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

/* ----usefull classes---- */
.black {
    color: #0D0D0D;
}

.brown {
    color: #A67841;
}

.green {
    color: #3A8C75;
}

.white {
    color: #F2F2F2;
}

.bgGreen {
    background-color: #3A8C75;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.centerItems {
    align-items: center;
}

.centerText {
    text-align: center;
}

.between {
    justify-content: space-between;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.outfit {
    font-family: 'Outfit', sans-serif;
}



html {
    scroll-behavior: smooth;
    scroll-padding-top: 6.5em;
}

/* ---------rules on all page -------*/
* {
    background-color: #f5f5f5;
}

/*-----------rules on body-----------*/
body {
    margin: 0;
    min-width: 360px;

}

.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.33, 0, .56, 1.01);
}

/*------start header--------*/
header {
    position: fixed;
    height: 5.5em;
    width: 100%;
    margin: 0;
    top: 0%;
    right: 0%;
    box-shadow: 0 0.1px 3px 0 rgba(13, 13, 13, 0.38);
    z-index: 1;
}

.languageOptions {
    display: flex;
}

.languageOptions a {
    color: #3A8C75;
    margin: 0 0.8em
}


.sidenav {
    display: none;
}

#openBtn {
    display: none;
}

nav {
    margin-top: 0.7em;
    width: 50%;
}

.menu {
    width: 91%;
}

.menu a {
    font-size: 1.5em;
    font-weight: 500;
    border-bottom: 3px solid transparent;
}

.menu li a:hover,
.menu li a:active {
    color: #3A8C75;
    border-color: #3A8C75;
}


header a .logo {
    margin-left: 1em;
    width: 50%;
}

/*-----end hearder*------*/

/*------- main--------*/
main {
    margin: auto;
    margin-top: 3em;

}

/*----- section home ------*/
#Home img {
    object-fit: cover;
    width: 36%;
    border-bottom: #3A8C75 2px solid;

}

#Home {
    width: 88%;
    margin: auto;
    overflow: hidden;
}

.home {
    width: 100%;
}

.homeText {
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
}

.homeText H1 {
    font-size: 7em;
    font-weight: 300;
    position: relative;
    left: 1em
}

.homeText .ru-h1 {
    font-size: 4.6em;
}

.homeText span {
    padding: 0 0.1em;
}

.homeText H2 {
    font-size: 4.4em;
    font-weight: 300;
    position: relative;
    left: 3.5em;
}


#Home p {
    width: 41.5%;
    text-align: end;
    font-size: 2em;
    position: relative;
    left: 4em;
}

.divH3 {

    width: 55%;
    position: absolute;
    right: 11em;
    margin: -4.6em 0 2em 0;
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
}

#Home h3 {
    text-align: center;
    font-weight: 500;
    color: #f5f5f5;
    font-size: 4em;
    padding-left: 1em;
}




/*------ end Home ----------*/

/*--------my job-------*/
#MyJob {
    width: 90%;
    margin: auto;

}


#MyJob H2 {
    font-size: 2.5em;
    margin: 2em 0 2em 0;
    position: relative;
}

#MyJob H2::after {
    content: "";
    width: 1.5em;
    height: 3.5px;
    background-color: #3A8C75;
    position: absolute;
    display: block;
    left: 3px;
    top: 1.8em;
}


.jobText {
    margin-left: 1.5em;
    margin: auto;
}

.jobText p {
    font-size: 1.4em;
    margin: 0 0 3em 0;
}

.jobText a {
    color: #F2F2F2;
    font-size: 1.2em;
    margin: 0 1.2em 0 0;
}

.jobText i {
    margin: 0 0 0 0.5em;
}


#MyJob h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0 1.2em 0;
}


.skills {
    flex-direction: column;
    width: 33%;
    margin: 0 0 4em 0;
}

.textBar {
    flex-direction: column;
}

.textBar span {
    padding: 15px 20px 15px 0;
}

.bar-container {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.bar {
    width: 80%;
    height: 20px;
    border-radius: 50px;
    background-color: #a679413a;
}

.bar .progress {
    height: 100%;
    background-color: #3A8C75;
    border-radius: 20px;
}

.front:nth-child(1) .progress {
    width: 0%;
    animation: html 2s forwards;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.front:nth-child(2) .progress {
    width: 0%;
    animation: css 2s forwards;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.front:nth-child(3) .progress {
    width: 75%;
    animation: 2s scss;
}

@keyframes scss {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.front:nth-child(4) .progress {
    width: 65%;
    animation: 2s js;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.front:nth-child(5) .progress {
    width: 40%;
    animation: 2s react;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}


.back:nth-child(1) .progress {
    width: 45%;
    animation: 2s node;
}

@keyframes node {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

.back:nth-child(2) .progress {
    width: 45%;
    animation: 2s express;
}

@keyframes express {
    0% {
        width: 0%;
    }

    100% {
        width: 45%;
    }
}

.back:nth-child(n+3) .progress {
    width: 35%;
    animation: 2s db;
}

@keyframes db {
    0% {
        width: 0%;
    }

    100% {
        width: 35%;
    }
}

.cms:nth-child(1) .progress {
    width: 30%;
    animation: 2s wordpress;
}

@keyframes wordpress {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}


.contact {
    width: 100%;
    margin: 2em 0 0;
}

.contact a {
    background-color: #3A8C75;
    border-radius: 20px;
    padding: 0.5em 1em;
}

/*----------end my job---------*/

/*---------Portfolio-----------*/
#Portfolio {
    width: 90%;
    margin: auto;

}

#Portfolio H2 {
    font-size: 2.5em;
    margin: 2em 0 1.5em 0;
    position: relative;

}

#Portfolio H2::after {

    content: "";
    width: 1.5em;
    height: 3.5px;
    background-color: #3A8C75;
    position: absolute;
    display: block;
    left: 3px;
    top: 1.8em;

}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10em;
    grid-row-gap: 4em;
}



article img {
    width: 100%;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.29);
    border-radius: 20px;
    transition: all 0.1s ease-out;
}

article img:hover {
    transform: scale(1.02);
}

article h4 {
    text-align: center;
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 400;
}


/*--------- end portfolio -------*/

/* ---------------contact-form ------------*/

#contactForm {
    width: 90%;
    margin: auto;

}

#contactForm H2 {
    font-size: 2.5em;
    margin: 2em 0 2em 0;
    position: relative;
}

#contactForm H2::after {

    content: "";
    width: 1.5em;
    height: 3.5px;
    background-color: #3A8C75;
    position: absolute;
    display: block;
    left: 3px;
    top: 1.8em;

}

#myForm {
    background-color: transparent;
    padding: 16px;
    color: #A67841;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #4141412d;
    width: 50%;
    margin: auto;
}

#myForm label {
    font-size: 20px;
    display: block;
}


#myForm input,
#myForm textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 4px;
    transition: all 0.5s ease;
}

#myForm textarea {
    min-height: 10em;
}

#myForm input:focus,
#myForm textarea:focus {
    border-color: #3A8C75;
    outline: none;
}

#myForm-button {
    width: 25%;
    min-width: 103px;
    background-color: #3A8C75;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.2s ease;
}

#myForm-button:hover {
    background-color: #3a8c75d5;
}

#myForm-status {
    margin-top: 12px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


/*---------- footer -----------*/
footer {
    height: 250px;
    margin-top: 5em;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    flex-direction: column;
}

footer i {
    font-size: 3.2em;
    margin-bottom: 0.5em;
}

.line {
    height: 40%;
    width: 3px;
}

.footerLinks {
    width: 25%;
    flex-direction: column;
    align-items: center;
}








/*---------media queries -------------*/
@media (max-width: 1500px) {
    #Home .home img {
        border: none;
    }

    .divH3 {
        right: 5em;
        margin: -4.7em 0 0 0;
    }

    #Home H3 {
        font-size: 3em;
    }

    #Home .ru {
        font-size: 3em;
    }

}

@media (max-width: 1370px) {
    nav {
        width: 60%;
    }


    .homeText H1 {
        font-size: 7em;
        font-weight: 300;
        position: relative;
        left: 0;
    }

    .homeText .ru-h1 {
        font-size: 3.6em;
    }

    .homeText .ru-h2 {
        font-size: 2.6em;
    }


    #Home H3 {
        font-size: 3em;

    }

    #Home .ru {
        font-size: 2.5em;
        margin-top: 2em;


    }

    #myForm {
        width: 80%;
    }

}

@media (max-width: 1180px) {
    #Home H1 {
        font-size: 5em;
    }

    #Home .homeText .ru-h1 {
        font-size: 3.2em;
    }

    #Home H2 {
        font-size: 3em;
    }

    #Home p {
        font-size: 1.6em;
    }

    .divH3 {
        width: 50%;
        text-align: center;
    }

    #Home H3 {
        font-size: 2.3em;
        padding-right: 0em;
    }
}

@media (max-width: 1000px) {

    .menu a {
        font-size: 1.2em;
        border: none;
    }

    #Home H1 {
        font-size: 4em;
    }

    #Home .homeText .ru-h1 {
        font-size: 2.5em;
    }

    #Home H2 {
        font-size: 2.5em;
    }

    #Home p {
        font-size: 1.3em;
    }

    .divH3 {
        width: 45%;
    }

    #Home H3 {
        font-size: 2em;
    }

    #MyJob H2 {
        margin-bottom: 1.5em;
    }

    #MyJob p {
        font-size: 1.2em;
    }

    .articles {
        grid-column-gap: 3em;
        grid-row-gap: 1em;
    }

    #myForm {
        width: 90%;
    }

    footer {
        margin-top: 1.7em;
    }
}


@media (max-width: 850px) {

    header {
        height: 60px;
    }

    header a .logo {
        width: 40%;
    }

    .divOpenBtn {
        width: 5%;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .menu {
        display: none;
    }

    #openBtn {
        display: block;
        cursor: pointer;
    }

    #closeBtn {
        cursor: pointer;
    }

    .sidenav {
        display: block;
        height: 300px;
        width: 150px;
        position: fixed;
        z-index: 1;
        top: 0;
        padding-top: 15px;
        right: -200px;
        transition: right 0.5s ease;
        box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.29);

    }


    /* Sidenav menu links */
    .sidenav {
        border-radius: 5px;
    }

    .sidenav li {
        width: 70px;
        font-size: 0.99em;
        margin: auto;
    }

    .sidenav a {
        margin-bottom: 40px;
        text-decoration: none;
        font-size: 1.1em;
        color: #A67841;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #3A8C75;
    }

    .sidenav ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    /* Active class */
    .sidenav.active {
        right: 0;
    }

    /* Close btn */
    .sidenav .close {
        color: #3A8C75;
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 36px;
        margin: 0;
    }

    .sidenav .close:hover {
        color: #A67841;
    }

    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #A67841;
        margin: 3px 0;
    }

    .languageOptions {
        visibility: hidden;
    }

    .languageOptionsSide {
        justify-content: center;
    }

    .languageOptions a,
    .languageOptionsSide a {
        margin: 0 0.4em;
        font-weight: 300;
        color: #3A8C75;
    }

    .menu a {
        font-size: 1em;
        border: none;
    }

    #Home H1 {
        font-size: 3em;
    }

    #Home .homeText .ru-h1 {
        font-size: 2em;
    }

    #Home H2 {
        font-size: 2em;
    }

    #Home p {
        font-size: 1em;
    }

    .divH3 {
        width: 45%;
    }

    #Home H3 {
        font-size: 1.5em;
    }

    .textBar span {
        padding: 10px 20px 10px 0;
    }

    #MyJob H2,
    #Portfolio H2,
    #contactForm H2 {
        font-size: 2em;
    }

    #MyJob p {
        font-size: 1em;
    }

    .skills {
        width: 100%;
        margin-bottom: 2em;
    }

    .skills-container {
        flex-direction: column;
    }

    .bar {
        width: 98%;
        height: 12px;
    }

    #MyJob h4 {
        font-size: 1.1em;
    }

    #MyJob span {
        font-size: 1em;
    }

    .articles {
        grid-column-gap: 2em;
        grid-row-gap: 1em;
    }


    #myForm textarea {
        min-height: 6.5em;
    }

    footer i {
        font-size: 2.5em;
    }
}

@media (max-width: 700px) {
    .divH3 {
        position: absolute;
        margin: -1em 0 2em 0;
        clip-path: none;
    }

    #Home .homeText .ru-h1 {
        font-size: 1.6em;
    }

    #Home .homeText .ru-h2 {
        font-size: 1.6em;
    }

    #Home h3 {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    #Home H1 {
        font-size: 2em;
    }

    #Home .homeText .ru-h1 {
        font-size: 1.4em;
    }

    #Home .homeText .ru-h2 {
        font-size: 1.4em;
    }

    #Home H2 {
        font-size: 1.5em;
    }

    #Home p {
        font-size: 1em;

    }

    .divH3 {
        width: 45%;
    }

    #Home p {
        font-size: 0.7em;
    }

    #MyJob h4 {
        margin-bottom: 1em;
    }

    #MyJob H2,
    #Portfolio H2,
    #contactForm H2 {
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 1em;
    }

    footer {
        flex-direction: column;
        height: 400px;

    }

    .line {
        width: 15%;
        height: 3px;
        margin: 0.2em 0;
    }
}

@media (max-width: 480px) {
    header {
        height: 50px;
    }

    header a .logo {
        width: 30%;
    }

    #Home p {
        margin-bottom: 2em;
    }


    #Home H1 {
        font-size: 2em;
    }

    #Home H2 {
        font-size: 1.29em;
        left: 1.3em;
    }


    .divH3 {
        text-align: center;
        width: 45%;
        margin-top: -1em;
        right: 2.5em;
    }

    #Home H3 {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: .7em;
    }

    #Home p {
        font-size: 0.6em;
    }

    .textBar span {
        padding: 5px 20px 5px 0;
    }

    #MyJob {
        font-size: 1em;
    }

    #MyJob span {
        font-size: 0.8em;
    }

    #MyJob p {
        font-size: 0.8em;
    }

    #MyJob H2,
    #Portfolio H2,
    #contactForm H2 {
        font-size: 1.3em;
        margin-bottom: 2em;
    }

    .contact {
        font-size: 0.7em;
    }

    article h4 {
        font-size: 1em;
    }

}

@media (max-width: 330px) {
    .divH3 {
        position: relative;
        left: 150px;
        min-width: 156px;
    }

    #Home H3 {
        padding: 0 2px;
    }
}